<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="StockQuoteServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/StockExchangeService/StockQuoteService.asmx"
                binding="basicHttpBinding" bindingConfiguration="StockQuoteServiceSoap"
                contract="TestingService.StockQuoteServiceSoap" name="StockQuoteServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>